
<form>
    <div class="form-group">
        <label for="num1">First Number</label>
        <input type="number" class="form-control" id="num1">
    </div>
    <div class="form-group">
        <label for="num2">Second Number</label>
        <input type="number" class="form-control" id="num2">
    </div>
    <button id="calculateBtn" type="submit" class="btn btn-default">Calculate</button>
</form>

<br />
<div class="form-group">
    <label>Result: </label><strong id="result"></strong>
</div>

@section scripts{
  <script>

    (function ($, window, document) {

      $(document).ready(function () {
          calculateHandler();
      });


      function calculateHandler() {
          $('#calculateBtn').on('click', function (e) {
              e.preventDefault();
              var data = {
                  firstNumber: $('#num1').val(),
                  secondNumber: $('#num2').val()
              };

              //see function definition to view the ajax construct
              calculateData(data).done(function (resp) {
                  $('#result').text(resp);
              }).fail(function (resp) {
                  alert('Failed');
              });
          });

      }

      //Returns a promise, this will offer better flexibility for callbacks
      function calculateData(data) {
          return $.ajax({
              url: "api/values",
              type: "POST",
              data: data
          });
      }


  })(window.jQuery, window, document);

</script>  
    }



